.header-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-img {
  width: 40%;
  height: 40%;
  margin-bottom: 2rem;
}

.description {
  text-align: justify;
  margin: 2rem;
  text-align: center;
}
