.homepage-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.homepage-container p {
  text-align: center;
  font-size: 1.4rem;
  margin: 3rem;
}

.homepage-container {
  text-align: center;
}

.homepage-container button {
  text-align: center;
  margin-bottom: 2rem;
}
