:root {
  --main-color-black: #3a3a3a;
  --main-color-white: #fff2e5;
  --main-background-color: #f2efeb;
  --pastel-color-pink: #ffb4b4;
  --pastel-color-blue: #bbf0f4;
  --pastel-color-yellow: #fff6a6;
  --pastel-color-green: #d4eadf;
  --pastel-color-coral: #ffdeb4;
  --pastel-color-purple: #b2a4ff;
  --main-font: "Josefin Sans", sans-serif;
}
